@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn {
        @apply bg-gray-100 text-gray-700 text-sm rounded-md hover:ring-1 hover:ring-gray-200 focus:outline-none active:ring-gray-300 hover:shadow-md w-36 h-10 transition-shadow;
    }
}